<%= partial("partials/nav.plush.html") %>
<div class="container">
    <ul class="nav justify-content-end my-3">
        <a href="#" class="btn bg-todos text-white rounded-sm px-5 py-2"> Add Task </a>
    </ul>
</div>

<div class="container">
    <table class="table rounded-lg shadow bg-light">
        <thead class="bg-thead-todos text-white">
        <tr>
            <th class="column-one" scope="col"></th>
            <th class="column-two" scope="col">Task</th>
            <th class="column-three" scope="col">Complete by</th>
            <th class="column-four text-center" scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <%= for (todo) in todos { %>
        <tr>
            <td class="text-center" scope="row">
                <i class="text-muted far fa-check-circle"></i>
            </td>
            <td>
                <a class="todos-links-color" href="#">
                    <%= todo.Title %>
                </a>
            </td>
            <td>
                <%= todo.LimitDate.Format("Monday 02, January 2006") %>
            </td>
            <td>
                <div class="row mx-0 justify-content-center">
                    <i class="text-muted fas fa-pencil-alt mx-3"></i>
                    <i class="text-danger far fa-trash-alt mx-3"></i>
                </div>
            </td>
        </tr>
        <% } %>
        </tbody>
    </table>
</div>
