<nav class="navbar navbar-expand-lg navbar-light bg-todos p-4">
    <div class="container">
        <div class="border-right brand-container">
            <a
                    class="
                    brand-title
                    navbar-brand
                    text-white
                    font-weight-bold
                    mr-lg-5 mr-sm-0 mr-md-0
                "
                    href="#"
            >ToDo List</a
            >
        </div>
        <div class="ml-lg-4 text-white">
            <p class="m-0 font-weight-bold">4 Incompleted Tasks</p>
            <small class="m-0">Thursday 06, June 2019</small>
        </div>

        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a
                            class="nav-link text-white font-weight-bold px-lg-4"
                            href="#"
                    >Incomplete Task</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white pl-lg-4" href="#"
                    >Completed Task</a
                    >
                </li>
            </ul>
        </div>
    </div>
</nav>