<nav class="navbar navbar-expand-lg navbar-light bg-todos p-4">
    <div class="container">
        <div class="border-right brand-container">
            <a class="brand-title navbar-brand text-white font-weight-bold mr-lg-5 mr-sm-0 mr-md-0"
               href="<%= listTodoPath() %>">
                ToDo List
            </a>
        </div>
        <div class="ml-lg-4 text-white">
            <%= if (current_user) { %>
            <p class="m-0 font-weight-bold">
                <%= uncompleted_todos%> Uncompleted ToDo(s)</p>
            <% } %>
            <small class="m-0"><%= todayDate() %></small>
        </div>

        <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <%= if (current_user) { %>
                <li class="nav-item">
                    <a class="nav-link text-white
                            <%= if(params["todos_status"] == "pending" || !params["todos_status"]) { %>font-weight-bold<% } %>"
                            href="<%= listTodoPath() %>?todos_status=pending">
                        Uncompleted ToDos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white
                            <%= if(params["todos_status"] == "completed") { %>font-weight-bold<% } %>"
                            href="<%= listTodoPath() %>?todos_status=completed">
                        Completed ToDos
                    </a>
                </li>
                <% } %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white"
                       href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-expanded="false">
                        <%= if (current_user) { %>
                        <%= current_user.FirstName + " " + current_user.LastName %>
                        <% } else { %>
                        Sign In / Register
                        <% } %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= if (current_user) { %>
                        <a href="<%= signoutPath() %>" data-method="DELETE" class="dropdown-item">Sign Out</a>
                        <% } else { %>
                        <a class="dropdown-item" href="<%= signinPath() %>">Sign In</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="<%= newUsersPath() %>">Register</a>
                        <% } %>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>